@font-face {
    font-family: 'Cousine';
    src: url('fonts/Cousine-Bold.ttf') format('truetype');
}

body {
    margin: 15px;
    padding: 15px;
    height: 100%;
    border: 0;
    display: block;

    bottom: 0;
    overflow: hidden;

    font-family: Cousine, monospace;

}

.output {
    margin: 0;
    background-color: #0000;
    color: black;
    font-size: 3.2em;
    line-height: 1.1em;
    letter-spacing: 0.0em;

    padding: 0em;
    text-shadow: 0.05em 0.05em 0px rgba(255, 255, 255, 1);
}

.output span {
    background-color: black;
    padding: 8px 8px 0px 8px;
    margin: 0;
}

a {
    color: blue;
    font-size: 1.2em;
    text-transform: none;
}

.github {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAd5JREFUOE+d1MurjlEUBvDfIZQZShEGmMhQiZGZlAlyK4eEAZHcyiVRyq1cUq5FwsD1MJGJiT/AzEzRcR8xMnGOW89pv9q9fScfe/J977o8e61nP2v16HzGYBWWYA4mlbBPeI5HuI9v7fSeDnircRqTh7msMX/ALtyr42rAEbiAzX8BaruTsx0/46gBL/0HWAMe0G01YNq8Xbz5PYuN2ISvCHc5oWEsruA69mJF8a0Mr6kwD/C64mw3zpSgCfjc6nE8vhRbAE+U/+8xI4DrcKNKOol9XfJ4CimgOb0BfIilxfIds/GyS8BZeIGRJf5BAN9gWjE8xcIuwZqwZ1hQPvoDOIBRxRCiN/wj4C30lpyBNmAmYNk/Aj7G4pIz2G75I6Y2Iu0CONwlZ2Ldcl+rqmjvWhdgCdmCi1Xs0KOsxc3C5WDhcw8uI9+dzugyVZFNw3/i1jTCfoVIJmo/VDiJeJ9gPX4U1CRHs4swrnXTO8xsZjlAd9GP+WU1zcPxckGde7WMZbvy5eirl8N5bMUxHMSvYdo9igMt3znsiK29vuLI1ojYU+2dwmWdnwv3V4YskozfUAGdFmzaz4KdgiM43KomNGTW32JnGd0/IZ0A48wrhpPMdFZ+feZievjqpILf7lRg3csIRqAAAAAASUVORK5CYII=");
    background-color: #FFF !important;
    width: 4px;
    height: 12px;
    background-repeat: no-repeat;
    display: inline-block;
    top: 2px;
    position: relative;
    left: 2px;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

div {
    display: block;

}

textarea {
    display: block;
    width: 700px;
}